[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
twine = "*"

[packages]
awsume = "*"
requests = "2.22.0"
beautifulsoup4 = "4.10.0"
wheel = "*"
bs4 = "*"
awsume[saml] = "*"

[requires]
python_version = "3.7"